.custom-table thead {
  font-weight: 600;
  text-align: center;
  font-size: 15px;
}

.custom-table thead th {
  font-weight: 600;
  background-color: #116A7B;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 5;
}

.custom-table tbody{
  border: 1px solid rgb(17, 25, 121);
 
}
.custom-table tbody td{
 
  font-size: 13px;
 
}
.custom-table td{
  text-align: center;
  vertical-align: middle !important;
 
  
  
}