/* Style the tab header */
.amc-tabs.nav-tabs {
  background-color: #105652;
  position: sticky;
  top: 0;
  z-index: 10;
  font-size: 18px;
  font-weight: 600;
  font-family: sans-serif;
}

.amc-tabs .nav-link:hover {
  color: #fff;
  background-color: #45A298;
}

.amc-tabs .nav-link {
  color: #fff;
  border: none;
  border-radius: 0;
  padding: 10px 20px;
}

.amc-tabs .nav-link.active {
  background-color: #6CA651;
  color: #4300FF;
  font-weight: 700;
  border-bottom: 4px solid #FF0087;
}


 .tab-content{
 overflow: auto;
 position: relative;
 display: flex;
 flex-grow: 1;
 animation: fadeIn 0.3s ease-in-out;

}
 .tab-content .active{
   display: flex;
 }

.tab-pane{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    overflow: auto;
}